*{
    box-sizing: border-box
}
:root{
    font-size: 16px;
}

#root{
    width: 360px;
    margin: 0 auto;
    background-color: #0B2434;
}

body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1, button, li{
    margin: 0;
    font-weight: 700;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}